@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Zenith.Models.QuestionModels
@inject ProtectedSessionStorage SessionStorage
@inject HttpClient Http
@page "/RoundComplete"


<div class="RoundCompletePage">
    
    <h1> Round Complete!!!!! </h1>
    
    
    
    @foreach (QuestionModels.AnsweredQuestion Question in Questions)
    {
        int i = 0;
        <p>@i</p>
        <p>@Question.Question</p>
        <p>@Question.CorrectAnswer</p>
        <p>@Question.TimeTaken</p>
        <p>@Question.Correct</p>
        <p>@Question.UserAnswer</p>
        i++;

    }
    
    
</div>