@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Zenith.Models.QuestionModels
@inject ProtectedSessionStorage SessionStorage
@inject HttpClient Http
@page "/RoundComplete"


@if (readyToDisplay)
{
    <div class="RoundCompletePage">

        <h1> Round Complete!!!!! </h1>
        
        @foreach (QuestionModels.AnsweredQuestion Question in Questions)
        {
            <div class="AnsweredQuestion">
                <div class="SecondaryInfo">
                    <p>Answer: @Question.CorrectAnswer</p>
                    <p>TimeTaken: @Question.TimeTaken</p>
                    <p>Correct: @Question.Correct</p>
                </div>
                
                <div class="PrimaryInfo">
                    <p>@Question.Question</p>
                    <p>Your Answer: @Question.UserAnswer</p>
                </div>
            </div>
        }

    </div>
    
    
}
else
{
    <h1>Loading</h1>
}