@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Zenith.Models.QuestionModels
@inject ProtectedSessionStorage SessionStorage
@inject HttpClient Http
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@page "/Dashboard"

@if (authenticated)
{
    @if (FinishedRendering)
    {
        <div class="StudentDashboard">
            <div class="UpperSection">
                <div class="ProgressGraph">

                    <h2>Progress</h2>

                    <div class="container-fluid overflow-x-auto">
                        <LineChart @ref="lineChart" Width="700"/>
                    </div>
                </div>
                <div class="RecentRoundsOfQuestioning">
                    <h2>Recent Question Rounds</h2>
                    @if (QuestioningRounds == null)
                    {
                        <h2 class="roundText">You have not completed any rounds of questioning recently</h2>
                    }
                    else
                    {
                        @for (int i = 0; i < QuestioningRounds.Count; i++)
                        {
                            var index = i;

                            <div class="CompletedQuestionRound">
                                <p>Score: @QuestioningRounds[i].score</p>
                                <p>Topic: @QuestioningRounds[i].topic</p>
                                <p>Difficulty: @QuestioningRounds[i].difficulty</p>
                                <p>AverageTime: @QuestioningRounds[i].averageTime</p>
                                <button class="ViewButton" @onclick="() => DisplayRoundOfQuestioning(index)">View</button>
                            </div>
                        }
                    }
                </div>
            </div>
            
            <div class="LowerSection">
                <div class="StatButtons">
                    <div class="StatButton">
                        <p>Best Topic: @MostRecentStats.bestTopic</p>
                    </div>
                    <div class="StatButton">
                        <p>Average Time: @MostRecentStats.averageTime </p>
                    </div>
                    <div class="StatButton">
                        <p>Current Difficulty: @MostRecentStats.difficulty</p>
                    </div>
                    <div class="StatButton">
                        <p>Worst Topic: @MostRecentStats.worstTopic</p>
                    </div>
                    <div class="StatButton">
                        <p>Average Score: @MostRecentStats.averageScore</p>
                    </div>
                    <div class="StatButton">
                        <p>Current Completion: @MostRecentStats.completion</p>
                    </div>
                </div>
                <div class="ContinueButtonContainer">
                    <button @onclick="NavigateToSelection" class="ContinueButton">Continue to Questions</button>
                </div>
            </div>
        </div>

        @if (displayQuestionRound)
        {
            <div class="QuestionRoundDisplay">
                <button @onclick="Close">Close</button>
                @foreach (QuestionModels.AnsweredQuestion Question in CurrentQuestioningRound)
                {
                    <div class="AnsweredQuestion">
                        <div class="SecondaryInfo">
                            <p>Answer: @Question.CorrectAnswer</p>
                            <p>TimeTaken: @Question.TimeTaken</p>
                            <p>Correct: @Question.Correct</p>
                        </div>

                        <div class="PrimaryInfo">
                            <p>@Question.Question</p>
                            <p>Your Answer: @Question.UserAnswer</p>
                        </div>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <h1>Loading??</h1>
    }
}
else
{
    <h1>Please log in</h1>
}
